<nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Overzicht</li>
          <li class="breadcrumb-item"><a href="reservaties/registreer.html">Registreren</a></li>
          <li class="breadcrumb-item"><a href="reservaties/bevestigingsmail.html">Bevestigingsmail</a></li>
          <li class="breadcrumb-item"><a href="reservaties/gegevens.html">Gegevens controleren</a></li>
          <li class="breadcrumb-item"><a href="reservaties/betaling.html">Betaling</a></li>  
        </ol>
</nav>