<div class="wrapper bg-dark mt-4 text-light footer">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <ul>
                    <li> <a href="contact.html">Contact</a></li>
                    <li> <a href="beschikbaarheid.html">Beschikbaarheid</a></li>
                    <li> <a href="tarieven.html">Tarieven</a></li>
                </ul>
            </div>
            <div class="col-5">
                <p class="text-left"> © Rent a Friend 2017</p>
            </div>
        </div>
    </div>
</div>