<div class="wrapper bg-dark mt-4 text-light footer pt-4">
    <div class="container">
        <div class="row">
            <div class="col-3 col-md-2 col-lg-1 rand-rechts">
                <ul class="pl-0 mt-3">
                    <li> <a href="{{ site.baseurl }}/sitemap.html">Sitemap</a></li>
                </ul>
            </div>
            <div class="col-5 col-md-3 col-lg-2 rand-rechts">
                <ul class="pl-0 mt-3">
                    <li> <a href="contact.html">Contact</a></li>
                    <li> <a href="beschikbaarheid.html">Beschikbaarheid</a></li>
                    <li> <a href="tarieven.html">Tarieven</a></li>
                </ul>
            </div>
            <div class="col-4">
                <p class="mt-3 ml-3"> <strong>Social Media</strong></p>
                <div class="row">
                    <div class="col-5 col-md-3 col-lg-2">
                        <a href="https://www.facebook.com/">
                            <div class="icon-box-icon facebook m-0">
                                facebook
                            </div>
                        </a>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2">
                        <a href="https://www.instagram.com/">
                            <div class="icon-box-icon instagram m-0">
                                instagram
                            </div>
                        </a>
                    </div>
                </div>
            </div>        
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-light mt-3"> © Rent a Friend 2017 | Dit is een werkstuk voor Arteveldehogeschool | Developed by Barbara Van Daele</p>
            </div>
        </div>
    </div>
</div>
<div class="wrapper bg-dark mt-4 text-light footercontact">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-light">
                    <article>
                        <p class="mt-4"> <strong>Bob de alpaca</strong> <br>
                            Alpacalaan 1 <br>
                            9830 Sint-Martens-Latem <br>
                            bob_de_alpaca@rentafriend.be <br>
                            0456730056</p>
                    </article>
                </div>
            </div>
        </div>
    </div>