/* TYPO
-------------------------------------------------- */
h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(133, 190, 186);
    margin-top: 10px;
    font-size: 2em;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    color: rgb(134, 207, 195);
}

h4 {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: rgb(133, 190, 186);
}

a:hover {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color:  rgb(58,52,51);
    text-decoration: none;
}

strong {
    font-weight: 700;
}

.list-group-item {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}

.sitemap-gewone-tekst {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: rgb(58,52,51);
}

/* BUTTONS
-------------------------------------------------- */

.btn {
    font-family: 'Dosis', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
}

.btn-outline-dark {
    color: rgb(58,52,51);
    border-color: rgb(58,52,51);
}

.btn-outline-dark:hover {
    color: white;
    border-color: rgb(58,52,51);
    background-color: rgb(58,52,51);
    font-family: 'Dosis', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
}

.btn-outline-dark:active {
    color: white;
    border-color: rgb(58,52,51);
    background-color: rgb(58,52,51);
}

i {
    border: solid ;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }


/* TABLES
-------------------------------------------------- */

.table thead.thead-dark th {
    background-color: rgb(133, 190, 186) !important;
    border-color:rgb(133, 190, 186);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}

td {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: rgb(58,52,51);
}

/* FORMS
-------------------------------------------------- */

label {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    color: rgb(58,52,51);
}

input {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background: transparent !important;
    border-color: rgb(133, 190, 186) !important;
}

select {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

textarea{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background:transparent !important;
    border-color: rgb(133, 190, 186) !important;
}

.contactformulier {
    background-color:rgb(219, 240, 239);
    margin-bottom: -25px;
}


/* IMAGES
-------------------------------------------------- */

.jumbotron-reservatie  {
    background: url("../../images/jumbo4.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height:  200px;
    margin-bottom: 0;
}

.jumbotron-algemeen  {
    background: url("../../images/jumbo1.jpeg") no-repeat;
    background-size: cover;
    background-position: center center;
    height:  200px;
    margin-bottom: 0;
}

.containerreview {
    background-color:rgb(219, 240, 239) !important;
    background-size: cover;
    background-position: center center;
    height: 280px;
    overflow: hidden;
}

.pijl-links {
    margin-right: -60px;
    height: 50px;
    margin-top: 80px;
    margin-left: 25px;
    opacity: 0.5;
}

.pijl-rechts {
    margin-left: -60px;
    height: 50px;
    margin-top: 80px;
    margin-right: -200px;
    opacity: 0.5;
    float: right;
}

/* SPRITES
-------------------------------------------------- */
.icon-box {
    display: flex;
}

.icon-box-icon {
    background: url("../../images/sprite_irent2.png");
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    overflow: hidden;
    text-indent: -999rem;
    float:left;
}

.icon-box-text {
    width: 66%;
    vertical-align: middle;
}

.adres {
    background-position: 0px -200px;
}

.email {
    background-position: -100px -200px;
}

.tel {
    background-position: -200px -200px;
}

.alpacaicon {
    background-position: 0px 0px;
}

.agendaicon {
    background-position: -100px 0px;
}

.mailicon {
    background-position: -200px 0px;
}

.facebook {
    background-position: 0px -100px;
}

.icon-box-icon.facebook{
    margin-top: -30px !important;
    margin-left:-20px !important;
}

.instagram {
    background-position: -100px -100px;
}

.icon-box-icon.instagram{
    margin-top: -30px !important;
    margin-left:-20px !important;
}
/* ANDERE
-------------------------------------------------- */

.gekleurde-kader {
    background-color: rgb(134, 207, 195) !important;
    color: white;
    
}

.rand-rechts {
    border-right: rgb(58,52,51) solid 2px;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .icon-box {
        display: block;
    }
    .icon-box-icon {
        width: 100px;
        margin: 0 auto;
        float: none;
    }
    .icon-box-text {
        width: 100%;
        float: none;
    }
    h1 {
        font-size: 3em;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .jumbotron-reservatie  {
        background-position: center -400px;
        height: 300px;
    }
    .jumbotron-algemeen {
        height: 300px;
    }
    input {
        border: none !important;
        border-bottom: 1px solid rgb(133, 190, 186) !important;
        border-radius: 0 !important;
        opacity: 0.8;
    }
    textarea{
        border: none !important;
        border-bottom: 1px solid rgb(133, 190, 186) !important;
        border-radius: 0 !important;
        opacity: 0.8;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }